<h1>Capacities#show</h1>

<%= image_tag("/assets/hospitalm.jpg") %>
<div><%= @capacity.hospital.name %></div></br>
# Beds: <%= @capacity.bed_count %>
# Nurses: <%= @capacity.full_time_nurse_count %>
Teaching: <%= @capacity.teaching_hospital %>